[Unit]
Wants=network-online.target
After=network.target network-online.target
Description=liner

[Service]
Type=simple
KillMode=process
WorkingDirectory=/home/phuslu/liner
EnvironmentFile=-/home/phuslu/liner/.env
ExecStart=/home/phuslu/liner/liner

[Install]
WantedBy=multi-user.target
